@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* -------------------------------------------------------------------------- */
/*                              estilos generales                             */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
  transition: all .3s;
  overflow: hidden;
  user-select: none;

}

body{
  background: #282C34;

}

header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  background: #282C34;
  border-bottom: 1px dashed #4c4639;
}

header nav {
  display: flex;
  gap: 1rem;
}

header nav span {
  cursor: pointer;
  padding: .5rem 1rem;
  background: #4c4639;
  color: #DEE1EC;
  border-radius: 5px;
}

header nav span:active {
  transform: scale(.9);
}

.crono-container,
.reloj-container,
.temp-container {
  width: 100%;
  height: calc(100vh - 71px);
  background: #282C34;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  transition: opacity .3s linear;
}

.crono-container {
  flex-direction: column;
}

.reloj-container .fecha {
  position: absolute;
  bottom: 20%;
  color: #4c4639;
  font-size: 3rem;
}

.temp-container.active,
.reloj-container.active,
.crono-container.active {
  display: flex;

}


.crono-start,
.crono-reset,
#btn-temStop,
#btn-plusTemp{
  font-size: 3rem;
  color: rgb(76, 70, 57);
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
}

.crono-control__container {
  display: flex;
  gap: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                   estilo al modal de solicitud de tiempo                   */
/* -------------------------------------------------------------------------- */
.modal-obtener__tiempo {
  width: 600px;
  max-width: 90%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #DEE1EC;
  padding: 10px;
  position: relative;
  gap: 3rem;
  border-radius: 5px;
  position: absolute;
  z-index: 100;
  display: none;
}

.modal-obtener__tiempo.active{
  display: flex;
}

.text-modal__container,
.tiempo-inputs__container {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.text-modal__container {
  align-items: flex-end;
}

.tiempo-inputs__container input {
  width: 100px;
  padding: .6rem 1rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 5px;

}

#btnStart {
  width: 40%;
  padding: .6rem 1rem;
  border: none;
  background: #212121;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  /* display: none; */
}

#btnStart.active {
  display: block;
}

#btnStart:active {
  transform: scale(.9);
}

.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(76, 70, 57), .8;
  z-index: 100;
  transition: all .3s;
  display: none;
}

.cover.active{
  display: flex;
}

/* -------------------------------------------------------------------------- */
/*                         estilos del reloj regresivo                        */
/* -------------------------------------------------------------------------- */

.number-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20rem;
  border-radius: 5px;
  position: relative;
  color: #4c4639;
}

.number-container div,
.number-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4c4639;



}

.letra-peque {
  font-size: 4rem;
  padding: 1rem;
  color: #4c4639;
}

.temp-btn__container {
  display: flex;
  gap: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                media queries                               */
/* -------------------------------------------------------------------------- */
@media (max-width: 980px) {
  .number-container {
    font-size: 15rem;
  }
}

@media (max-width: 750px) {
  .number-container {
    font-size: 10rem;
  }
}

@media (max-width: 500px) {
  .tiempo-inputs__container {
    flex-direction: column;
  }

  .tiempo-inputs__container input {
    width: 90%;
  }

  #btnStart {
    width: 90%;
  }

  .number-container {
    font-size: 6rem;
  }

  .letra-peque {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .number-container {
    font-size: 4rem;
  }

  .letra-peque {
    font-size: 1rem;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}